@model IEnumerable<Gym.Web.Models.GymClass>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "The Gym";
    //var displayPassedClasses = false;
}

<h1>The Gym</h1>


     @if (User.IsInRole("Admin"))
     {
    <a asp-action="Create">Create a new gym class</a>
    }
    else if(User.IsInRole("User"))
    {
    <p>Welcome member!</p>
    }
    else
    {
     <p>Login to take part of the classes in the gym, not a member? Don't worry, register!</p>
     }

<br>

<form method="get">
    <input name="displaypassedClasses" type="checkbox" value="true" /> Display classes with passed dates. <br />
    <button>Update</button>
</form>

@*  <input id="Passed" name="Passed" type="checkbox" value="@displayPassedClasses" />
<label for="Passed">Display classes with passed dates.</label>  *@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    
                    @if (User.Identity.IsAuthenticated)
                    {
                        
                        var attending = false;
                        if (item.AttendingMembers != null && User.Identity.Name != null)
                        {
                             attending = item.AttendingMembers.Any(c => c.applicationUser.Email == User.Identity.Name) ? (User.Identity.Name != null || item.AttendingMembers != null) : false;
                        }

                        if (User.IsInRole("Admin"))
                        {
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                            <span> | </span>
                            <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                            <span> | </span>
                            <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a >
                            <span> | </span>
                            if (attending == true)
                            {
                                <a asp-action="BookingToggle" asp-route-id="@item.Id">Cancel participation</a>
                            }
                            else
                            {
                                <a asp-action="BookingToggle" asp-route-id="@item.Id"> Book class</a>
                            }
                        }
                        else
                        {
                            <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                            <span> | </span>
                            if (attending == true)
                            {
                                <a asp-action="BookingToggle" asp-route-id="@item.Id">Cancel participation</a>
                            }
                            else
                            {
                                <a asp-action="BookingToggle" asp-route-id="@item.Id"> Book class</a>
                            }
                        }
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.Id"> Details </a>
                        <span> | </span>
                        <p>Login/Register to book</p>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
